<div class="scroll-container p-0 m-0">


    <!--####### Section ONE #######-->
    <div class="panel active p-0 m-0" id="first" #panel>   
        <!--background-->
        <div class="containerFist">
            <div class="lado-izquierdo"></div>
            <div class="lado-derecho"></div>
        </div>  


        <!--content-->
        <div class="content p-0 m-0">
            <!--name-->
            <div class=" col-12 col-md-8 w-100 h-100 d-flex flex-column justify-content-center completeNameStyle">
                <h2 class="animate__animated animate__fadeInTopLeft nameStyle">Norberto Martin</h2>
                <h3 class="animate__animated animate__fadeInBottomLeft lastnameStyle">Arnal Ganz</h3>
            </div>


            <!--image-->
            <div 
                class="animate__animated animate__zoomIn  col-12 col-md-3 border border-primary rounded overflow-hidden position-absolute bottom-0 end-0 me-5 imgStyle" 
                style="animation-delay: 0,6s;"
                >
                <img 
                src="assets/imagen.jpg"
                alt="lala" 
                class="" 
                style="width: 400px;"
                >
            </div>
            <!--svg indicator-->
            <div class="svg-container position-absolute bottom-0 start-50 mb-0 p-0 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                    <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
                </svg>
            </div>
        </div>
        
    </div>



    <!--######## Section TWO ########-->
    <div class="panel mh-100" id="second" #panel>
        <!--background-->
        <div class="containerSecond">
            <div class="lado-izquierdosecond"></div>
            <div class="lado-derechosecond"></div>
        </div> 

        <!--contet-->
        <div class=" container-fluid">
            <div class="row m-0 p-0 content">
                <div class="col-6 d-flex flex-column align-items-start m-0 p-0">
                    <h2 class="animate__animated  animate__zoomIn SobreMeStyle mb-5">Sobre me</h2>
                    <p class="animate__animated  animate__zoomIn textStyleSecond" style="animation-delay: 1s;">
                        Soy una persona apasionada por la tecnología, con especial interés en redes, informática y programación. Me gusta aprender constantemente, resolver problemas y enfrentar desafíos técnicos que me permitan crecer. Tengo experiencia con entornos Linux, virtualización con Proxmox, desarrollo web con Angular, NestJS y Bootstrap, además de manejar contenedores con Docker. También me he familiarizado con herramientas y equipos de red como Cisco, Mikrotik y Huawei. Me considero responsable, adaptable, con buena capacidad para trabajar en equipo y siempre con ganas de seguir mejorando tanto a nivel técnico como personal.
                
                    </p>
                </div>
                <!--svg-->
                <div class="col-6 d-flex flex-column justify-content-center align-items-bottom m-0 p-0 text-center animate__animated  animate__zoomIn ">
                    
                    <div class="svg-container svg-container2 mb-0 p-0 text-white">
                        <h3 class="SobreMeStyle">Habilidades</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                            <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--######## Sección 3 ########-->
    <div class="panel mh-100" id="third" #panel>
        <!--background-->
        <div class="containerThird">
            <div class="lado-izquierdothird"></div>
            <div class="lado-derechothird"></div>
        </div>

        <!--content-->
        <div class="container-fluid content p-0 m-0 d-flex flex-column justify-content-center align-items-bottom">
            <div class="row m-0 p-0 w-100 h-100">
                <!--svg-->
                <div class="col-6  m-0 p-0 text-center">
                        
                    <div class="animate__animated  animate__zoomIn  svg-container  mb-0 p-0 svg-container3">
                        <h3 class="SobreMeStyle">Trayectoria</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-caret-down text-white" viewBox="0 0 16 16">
                            <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
                        </svg>
                    </div>
                </div>

                <div class="col-6 p-0 m-0 text-center animate__animated  animate__zoomIn d-flex flex-column align-items-center">
                    <h2 class="animate__animated  fade-in-up SobreMeStyle mt-2 mb-4">Habilidades</h2>
                    <ul id="col-11 col-md-6 lista-habilidades" class="list-unstyled">
                        <li class="habilidad text-white text-center mb-2" ><i class="bi bi-code-slash me-2"></i>Tilio de desarrollo de lilicaciones Web<li>
                        <li class="habilidad text-white text-center mb-2" ><i class="bi bi-bootstrap-fill me-2"></i>Angular<li>
                        <li class="habilidad text-white text-center mb-2" ><i class="bi bi-box-seam me-2"></i>Nest<li>
                        <li class="habilidad text-white text-center mb-2" ><i class="bi bi-hdd-network me-2"></i>Docker y virtualizaciones<li>
                        <li class="habilidad text-white text-center mb-2" ><i class="bi bi-router me-2"></i>Cisco<li>
                        <li class="habilidad text-white text-center mb-2" ><i class="bi bi-wifi me-2"></i>Mikrotik<li>
                        <li class="habilidad text-white text-center mb-2" ><i class="bi bi-house-door me-2"></i>HSI<li>
                        <li class="habilidad text-white text-center mb-2" ><i class="bi bi-terminal me-2"></i>Linux<li>
                        <li class="habilidad text-white text-center mb-2" ><i class="bi bi-terminal me-2"></i>Proxmox<li>
                        <li class="habilidad text-white text-center mb-2" ><i class="bi bi-terminal me-2"></i>Redes<li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <!-- Sección 4 -->
    <div class="panel" id="fourth" #panel>
        <!--background-->
        <div class="containerfourth">
            <div class="lado-izquierdofourth"></div>
            <div class="lado-derechofourth"></div>
        </div> 

        <!--contet-->
        <div class=" container-fluid">
            <div class="row m-0 p-0 content">
                <div class="col-6 d-flex flex-column align-items-start m-0 p-0">
                    <h2 class="animate__animated  animate__zoomIn SobreMeStyle mb-5">Trayectoria</h2>
                    <p class="animate__animated  animate__zoomIn textStyleSecond" style="animation-delay: 1s;">
                        Texto de Trayectoria    
                    </p>
                </div>
                <!--svg-->
                <div class="col-6 d-flex flex-column justify-content-center align-items-bottom m-0 p-0 text-center animate__animated  animate__zoomIn ">
                    
                    <div class="svg-container svg-container2 mb-0 p-0 text-white">
                        <h3 class="SobreMeStyle">Contacto</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                            <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Sección 5 -->
    <div class="panel" id="fifth" #panel>
        <!--background-->
        <section>
            <div class="wave">
              <span></span>
              <span></span>
              <span></span>
            </div>
        </section>
        
          <!--content-->
        <div class="content">
            <h2 class="animate__animated zoom-in">Quinta Sección</h2>
            <p class="animate__animated zoom-in" style="animation-delay: 0.2s;">Contenido con efecto zoom-in</p>
            <button class="btn btn-primary mt-3 animate__animated zoom-in" style="animation-delay: 0.4s;">Botón con Zoom In</button>
        </div>
    </div>


    
    <!-- Indicadores de navegación (opcional) -->
    <div class="scroll-indicators">
        <div class="indicator active" (click)="scrollToPanel(0)"></div>
        <div class="indicator" (click)="scrollToPanel(1)"></div>
        <div class="indicator" (click)="scrollToPanel(2)"></div>
        <div class="indicator" (click)="scrollToPanel(3)"></div>
        <div class="indicator" (click)="scrollToPanel(4)"></div>
    </div>
</div>

<!--HELPERS-->

<!--name font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">

<!--last name font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">