<div class="scroll-container p-0 m-0">


    <!--####### Section ONE #######-->
    <div class="panel active p-0 m-0" id="first" #panel>   
        <!--background-->
        <div class="containerFist">
            <div class="lado-izquierdo"></div>
            <div class="lado-derecho"></div>
        </div>  


        <!--content-->
        <div class="content p-0 m-0">
            <!--name-->
            <div class=" col-12 col-md-8 w-100 h-100 d-flex flex-column justify-content-center completeNameStyle">
                <h2 class="animate__animated animate__fadeInTopLeft nameStyle ms-3 ms-md-1">Norberto Martin</h2>
                <h3 class="animate__animated animate__fadeInBottomLeft lastnameStyle ms-3 ms-md-1">Arnal Ganz</h3>
            </div>
            


            <!--image-->
            <div 
                class="animate__animated animate__zoomIn  col-12 col-md-3 border border-primary rounded overflow-hidden position-absolute bottom-0 end-0 me-5 imgStyle d-none d-md-block" 
                style="animation-delay: 0,6s;"
                >
                <img 
                src="assets/imagen.jpg"
                alt="lala" 
                class="" 
                style="width: 400px;"
                >
            </div>
            <!--svg indicator-->
            <div class="svg-container position-absolute bottom-0 start-50 mb-0 p-0 text-white d-none d-md-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                    <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
                </svg>
            </div>
        </div>
        
    </div>



    <!--######## Section TWO ########-->
    <div class="panel mh-100" id="second" #panel>
        <!--background-->
        <div class="containerSecond">
            <div class="lado-izquierdosecond"></div>
            <div class="lado-derechosecond"></div>
        </div> 

        <!--contet-->
        <div class=" container-fluid">
            <div class="row m-0 p-0 content">
                <div class="col-12 col-md-6 d-flex flex-column align-items-start m-0 p-0">
                    <h2 class="animate__animated  animate__zoomIn SobreMeStyle mb-5">Sobre me</h2>
                    <p class="animate__animated  animate__zoomIn textStyleSecond m-2 m-md-0" style="animation-delay: 1s;">
                        Soy una persona apasionada por la tecnología, con especial interés en redes, informática y programación. Me gusta aprender constantemente, resolver problemas y enfrentar desafíos técnicos que me permitan crecer. Tengo experiencia con entornos Linux, virtualización con Proxmox, desarrollo web con Angular, NestJS y Bootstrap, además de manejar contenedores con Docker. También me he familiarizado con herramientas y equipos de red como Cisco, Mikrotik y Huawei. Me considero responsable, adaptable, con buena capacidad para trabajar en equipo y siempre con ganas de seguir mejorando tanto a nivel técnico como personal.
                
                    </p>
                </div>
                <!--svg-->
                <div class="col-6 d-flex flex-column justify-content-center align-items-bottom m-0 p-0 text-center animate__animated  animate__zoomIn d-none d-md-block ">
                    
                    <div class="svg-container svg-container3 mb-0 p-0 text-white">
                        <h3 class="SobreMeStyle">Habilidades</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                            <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--######## Sección 3 ########-->
    <div class="panel mh-100" id="third" #panel>
        <!--background-->
        <div class="containerThird">
            <div class="lado-izquierdothird"></div>
            <div class="lado-derechothird"></div>
        </div>

        <!--content-->
        <div class="container-fluid content p-0 m-0 d-flex flex-column justify-content-center align-items-bottom">
            <div class="row m-0 p-0 w-100 h-100">
                <!--svg-->
                <div class="col-6  m-0 p-0 text-center  animate__animated  animate__zoomIn d-none d-md-block">
                        
                    <div class="svg-container  mb-0 p-0 svg-container3">
                        <h3 class="SobreMeStyle">Trayectoria</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-caret-down text-white" viewBox="0 0 16 16">
                            <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
                        </svg>
                    </div>
                </div>


                <div class="col-12 col-md-6 p-0 m-0 text-center d-flex flex-column align-items-center">
                    <h2 class="animate__animated  fade-in-up SobreMeStyle mt--2 mb-4">Habilidades</h2>
                    <ul class="col-12 list-unstyled animate__animated  animate__zoomIn textStyleSecond" style="animation-delay: 1s;">
                        <li class="text-white text-center" >Diploma de desarrollo de lilicaciones Web</li>
                        <li class="text-white text-center" >Angular</li>
                        <li class="text-white text-center" >Nest</li>
                        <li class="text-white text-center" >Docker y virtualizaciones</li>
                        <li class="text-white text-center" >Cisco</li>
                        <li class="text-white text-center" >Mikrotik</li>
                        <li class="text-white text-center" >HSI</li>
                        <li class="text-white text-center" >Linux</li>
                        <li class="text-white text-center" >Proxmox</li>
                        <li class="text-white text-center" >Redes</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <!-- Sección 4 -->
    <div class="panel" id="fourth" #panel>
        <!--background-->
        <div class="containerfourth">
            <div class="lado-izquierdofourth"></div>
            <div class="lado-derechofourth"></div>
        </div> 

        <!--contet-->
        <div class=" container-fluid">
            <div class="row m-0 p-0 content">
                <div class="col-12 col-md-6 d-flex flex-column align-items-start m-0 p-0">
                    <h2 class="animate__animated  animate__zoomIn SobreMeStyle mb-5">Trayectoria</h2>
                    <p class="animate__animated  animate__zoomIn textStyleSecond m-2 m-md-0" style="animation-delay: 1s;">
                        He trabajado en diversos ISP y WISP, desempeñando tareas clave en el área de redes, seguridad informática y administración de sistemas. Durante este tiempo, participé en la configuración y mantenimiento de equipos de red (Mikrotik, Cisco, Huawei), implementación de medidas de seguridad perimetral, y gestión de infraestructura tecnológica tanto a nivel físico como lógico.
                        También puse en marcha servidores en entornos Linux, implementando servicios, automatizaciones y herramientas orientadas al soporte y optimización de redes. Manejo tecnologías como Proxmox para virtualización, Docker para la gestión de contenedores, y he trabajado en proyectos de desarrollo y despliegue de aplicaciones web usando Angular, NestJS y Bootstrap.
                        Esta experiencia me permitió adquirir una visión integral del funcionamiento técnico de un ISP, con enfoque en la resolución de problemas, estabilidad de servicios y mejora continua.
                    </p>
                </div>
                <!--svg-->
                <div class="col-6 d-flex flex-column justify-content-center align-items-bottom m-0 p-0 text-center  animate__animated  animate__zoomIn  d-none d-md-block">
                    
                    <div class="svg-container svg-container2 mb-0 p-0 text-white">
                        <h3 class="SobreMeStyle">Contacto</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                            <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Sección 5 -->
    <div class="panel" id="fifth" #panel>
        <!--background-->
        <section>
            <div class="wave">
              <span></span>
              <span></span>
              <span></span>
            </div>
        </section>
        
          <!--content-->
        <div class="content">
            <h2 class="animate__animated zoom-in SobreMeStyle">Contacto</h2>
            <p class="animate__animated zoom-in textStyleSecond mt-2 ms-2" style="animation-delay: 0.2s;" >info&#64;themarto.es</p>
        </div>
    </div>


    
    <!-- Indicadores de navegación (opcional) -->
    <div class="scroll-indicators">
        <div class="indicator active" (click)="scrollToPanel(0)"></div>
        <div class="indicator" (click)="scrollToPanel(1)"></div>
        <div class="indicator" (click)="scrollToPanel(2)"></div>
        <div class="indicator" (click)="scrollToPanel(3)"></div>
        <div class="indicator" (click)="scrollToPanel(4)"></div>
    </div>
</div>

<!--HELPERS-->

<!--name font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">

<!--last name font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">